################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuizApp/FileContentIndex/fb5fd750-1b16-4034-8a72-b610834b4dce.vsidx
