@model List<Question>

<h2>Quiz Application</h2>
<form asp-action="SubmitQuiz" method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div>
            <p>@Model[i].QuestionText</p>
            @foreach (var option in Model[i].Options)
            {
                <input type="radio" name="userAnswers[@i].SelectedAnswer" value="@option.Key" required />
                <label>@option.Text</label>

                <br />
            }
            <input type="hidden" name="userAnswers[@i].QuestionId" value="@Model[i].Id" />
        </div>
        <hr />
    }
    <button type="submit">Submit Quiz</button>
</form>
